    {{#each posts as |post|}}
    <div class="nes-container with-title is-rounded">
      <p class="title">{{post.title}} by {{post.user.name}} on {{format_date post.date_created}}</p>
        <p>{{post.text}}</p>
        <button type="button" class="nes-btn comment-btn is-success">Comment</button>
        <i class="nes-icon is-large star is-empty"></i>
        {{!-- {{post.comment.text}} --}}
    </div>
    {{/each}}

